<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">CLASIFICACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-label><b>Partidas de 2 jugadores:</b></ion-label>
  </div>
  <div>
    <ion-label><b>Iván:{{vic111}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Sole:{{vic222}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Jose:{{vic333}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Xise:{{vic444}}</b></ion-label>
  </div>
  <hr/>
  <div>
    <ion-label><b>Partidas de 3 jugadores:</b></ion-label>
  </div>
  <div>
    <ion-label><b>Iván:{{vic}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Sole:{{vic2}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Jose:{{vic3}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Xise:{{vic4}}</b></ion-label>
  </div>
  <hr/>
  <div>
    <ion-label><b>Partidas de 4 jugadores:</b></ion-label>
  </div>
  <div>
    <ion-label><b>Iván:{{vic11}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Sole:{{vic22}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Jose:{{vic33}}</b></ion-label>
  </div>
  <div>
    <ion-label><b>Xise:{{vic44}}</b></ion-label>
  </div>
</ion-content>
