<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Selección de jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row>
      <ion-col>
        <ion-item class="ion-text-center">
          <ion-label>Ivan</ion-label>
          <ion-checkbox [(ngModel)]="ivan" color="primary"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-text-center">
          <ion-label>Xisela</ion-label>
          <ion-checkbox [(ngModel)]="xise" color="secondary"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-text-center">
          <ion-label>Jose</ion-label>
          <ion-checkbox [(ngModel)]="jose" color="danger"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="ion-text-center">
          <ion-label>Sole</ion-label>
          <ion-checkbox [(ngModel)]="sole" color="dark"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <div>
      <ion-button (click) ="play()" size="large" color="secondary">JUGAR</ion-button>
    </div>
  </div>
</ion-content>
