<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      CHINCHÓN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div>
    <ion-button routerLink="/selection" size="large" color="secondary">JUGAR</ion-button>
    </div>
    <!--
    <div>
      <ion-button routerLink="/jugar3" size="large" color="primary">Jugar de 3</ion-button>
    </div>
    <div>
    <ion-button routerLink="/jugar4" size="large" color="secondary">Jugar de 4</ion-button>
    </div>-->
    <div>
    <ion-button routerLink="/clasificacion" size="large" color="tertiary">CLASIFICACION</ion-button>
    </div>
  </div>
</ion-content>
